body {
    background-image: linear-gradient(to right, rgba(0, 247, 255, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 247, 255, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: center;
}

.receitas-section {
    position: relative;
    overflow: hidden;
}

.busca-receitas-container {
    padding: 130px 0;
    margin: 0 auto;
}

label {
    font-size: 24px;
}

form * {
    margin-right: 10px;
}